{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<form method="post">
  {{form|crispy}}
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}