{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Welcome! {{user.username}}
    <p><a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
    <p>Welcome to STS DAP</p>
    <p><a href="{% url 'login' %}">Login</a></p>
  {% endif %}
{% endblock content %}
